/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
/.nrepl-port
/requires.edn
/graftwerk.iml
/graftwerk.log
/.idea
!/maven_repository/ww-geo-coords/ww-geo-coords/1.0/ww-geo-coords-1.0.jar
